<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>Test</button>
        </div>
        <div class="clo-lg-9">
            <h2>{{course.des}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>